/* HTML Styles */

header
{
    color: white;
}

h1
{
    height: 100%;
    margin: 0px;
    padding: 0px
}

body 
{
    background-color: #333;
    font-family: 'Montserrat';
    color: white;
    height: 100%;
    margin: 0px;
    padding: 0px
}

html
{
    height: 100%
}

/* ==== LOADING SCREEN CSS SETTINGS ========================================== */

#load_screen
{
    position: fixed;            /* Won't move when scrolling */
    z-index: 20;                /* Falls on top of any other object */
    top: 0;
    left: 0;
    width: 30%;
    height: 30%;
    background: #333;
    display: flex;              /* Scretches to fit the screen */
    justify-content: center;
    align-items: center;
}

#load_screen > #loading
{
    position: fixed;            /* Won't move when scrolling */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333;
    display: flex;              /* Scretches to fit the screen */
    justify-content: center;
    align-items: center;
}

#load_screen > #loading > img
{
    width: 100px;
    margin: 1em;
}

/* ==== STYLES USED ========================== */

#canvas
{
    width: 100%;
    height: 94%
}

#map
{
    width: 100%;
    height: 100%
}
