body 
{
    font-family: 'PT Sans', sans-serif;
    /* width: 100%;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 4em;
    margin-left: auto;  */
}

header
{
    padding-top: 1em;
    background: #3d445e;
    padding-bottom: 1em;
    color: whitesmoke;
}

#numFloorsInput
{
    margin: 1em;
    font-size: 20px;
}

#squadInput
{
    margin: 1em;
    font-size: 20px;
}

#squadButton, #floorButton
{
    font-size: 20px;
    margin: 0em 1em 1em 1em;
}

#floorInput
{
    
    background-color: #3b8e96;
    
}

#floorButton:hover
{
    border: 1px solid yellow;
}

#statusSection
{
    background: #FFFFEB;
    padding-bottom: 1em;
}

#map_canvas3
{
    height:500px;
    width:90%;
    background-color: gray;
    margin: 1em auto; 
    position: relative;
    
    
}

#newMapCanvas0
{
    height:300px;
    width:90%;
    background-color: gray;
    margin: 1em auto;
    
}

#newMapCanvas1
{
    height:300px;
    width:90%;
    background-color: gray;
    margin: 1em auto;
    
}

#blank0{}

#blank1{}

#maps_section
{
    background: #FFFFEB;
    color: #333;
    padding-bottom: 10px;   
}

.titleRow 
{
    display: flex;   
}
  
.titleColumn 
{
    flex: 50%;
    
}

.row 
{
    display: flex;
    margin: 1em;
    /* border: 1px solid black; */
}
  
.column 
{
    flex: 50%;
    margin-left: 1em;  
}

#mapColumn 
{
    height:300px;
    width: 100%;
    background-color: gray;
    margin: 0 auto;
    flex: 50%; 
}

.floorTableHeader
{
    
    width: 90%;
    background-color: #3d445e;
}

.floorTable
{
    width: 98%;
    background-color: #3d445e;
    
}

#statusColor
{
    color: green;
}

table, td, th
{
    border: 1px solid #3b8e96;
}

.blink {
	-webkit-animation: blink .75s linear infinite;
	-moz-animation: blink .75s linear infinite;
	-ms-animation: blink .75s linear infinite;
	-o-animation: blink .75s linear infinite;
    animation: blink .75s linear infinite;
}
@-webkit-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@-moz-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@-ms-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@-o-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}

.fixed_header tbody
{
    display:block;
    overflow:auto;
    height:200px;
    width:100%;
  }

  .fixed_header thead tr
  {
    display:block;
  }

  .tableHeaderContainer
  {
    background-color: #3b8e96; 
    padding: 1em 1em 0em 1em;
    color: whitesmoke
  }

  .tableContainer
  {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100px;
    white-space: nowrap;
    background-color: #3b8e96; 
    padding: 0em 1em 1em 1em;   /* top right bottom left */
    color: whitesmoke
  }

  .logContainer
  {
    overflow-y: scroll;
    height: 100px;
  }

  #time
  {
      
      background-color: #3b8e96;
      text-align: right;
  }




